---
title: makisu.co
layout: layouts/home.njk
description: a product studio
image: https://upload.wikimedia.org/wikipedia/en/a/a9/Example.jpg
date: Last Modified
---

<p>
  Makisu is an experimental product studio based in the United States & Philippines that builds SaaS products for North American markets.
</p>
<p>
  Makisu owns and operates <a href="https://valheimserverhosting.com/?utm_source=makisuco">Valheim Server Hosting</a>, a SaaS platform for Valheim servers, <a href="https://hostari.com/?utm_source=makisuco">Hostari</a>, a SaaS platform for game servers & <a href="https://liquidsuperteam.com/?utm_source=makisuco">Liquid Super Team</a>, a software development agency.
</p>
<p>
  Our US office is located at: MAKISU.CO LLC, 2261 Market St #5146, San Francisco, CA 94114 | Phone: +1 (925) 567-2920
</p>
<p>
  Our Philippine office is located at: Makisu Software Consulting Services, 7F Finman Building, 131 Tordesillas St, Salcedo Village, Makati City | Phone: +63 (917) 883-8668
</p>
<p>
  Email: xavi [at] makisu.co
</p>

<div id="posts">
  <h2>Posts</h2>
  {% set postslist = collections.posts %}
  {% include "postslist.njk" %}
</div>
